name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        working-directory: ./frontend
        run: npm ci

      - name: Build
        working-directory: ./frontend
        run: npm run build

      - name: Deploy
        run: |
          mkdir -p /var/www/joeritchey
          rm -rf /var/www/joeritchey/*
          cp -r frontend/dist/* /var/www/joeritchey/
